<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'static/index.css' %}" />
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Audiowide&family=Ubuntu:ital,wght@0,400;1,300&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/d18d22a038.js" crossorigin="anonymous"></script> -->
  </head>
  <body>
    <header>
      <div class="topHeader">
        <h2>TNLICS<span>(Theater Natural Language Information Chatbot System)</span></h2>
        <input
          type="search"
          name="search"
          id="search"
          placeholder="Search"
        />
        <h3>Be Happy</h3>
        <i class="fa-solid fa-bars toggle"></i>
      </div>
      <div class="right">
        <p>  </p>
        <p>  </p>
        <p>  </p>
        <p>  </p>
        <p>  </p>
        <a href="https://www.google.com/maps/@11.22304,75.8153216,13z?entry=ttu">Location</a>
        <i class="fa-solid fa-bars"></i>
    </div>
</nav>


    <div class="s-right">
        <a href="https://www.filmratings.com/">Ratings</a>
        <p>  </p>
        <p>  </p>
        <p>  </p>
        <p>  </p>
        <p>  </p>
        <p>  </p>
        <p>  </p>
        <p>  </p>
        <p>  </p>
        <p>  </p>
        <p>  </p>
        <p>  </p>
        <a href=https://in.bookmyshow.com/explore/home> Home Page </a>
        


    </div>
</nav>

      <nav class="bottomHeader">
        <ul>
          <li>Movies</li>
          <li>Theaters</li>
          <li>**************************************************</li>
          <li>Activities</li>
          <li>Ask Me</li>
        </ul>
      </nav>
    </header>

    <div class="container">
        <h2>--------------------------------------</h2>
        <h2>Released Movies(With Dates)</h2>
        <h2>--------------------------------------</h2>
    </div>
    <div class="button">
      <button id="showMore">Show More</button>
    </div>
    <hr>
    <footer>
      <div id="copyRight">
        Copyright &copy; 2024 All Rights Reserved
      </div>
      <div class="footer">
        <div class="icon">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
        </div>
    </div>
   </div>
    </footer>
    <script src="script.js"></script>
  </body>
</html>